html {
  font-size: 10px;
}

// body {
//   background: $purple;
//   background:#efefef;
//   &:before {
//     content: '';
//     display: block;
//     background: $grad;
//     height: 10px;
//     width: 100%;
//   }
// }

body {
  background-color: #303030;
  //background-image: url('/images/photos/wall.jpg');
  &:before {
    content: "";
    display: block;
    background: $grad;
    height: 10px;
    width: 100%;
  }
}

.inner {
  max-width: 900px;
  margin: 0 auto;
  @media all and (max-width: 900px) {
    padding: 2rem;
  }
}

.container2 {
  display: grid;
}

.left-half {
  /* background: #ff9e2c; */
  grid-column: 1;
  margin: 48px;
}

.right-half {
  /* background: #b6701e; */
  grid-column: 2;
  margin: 48px;
}

.headee {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.text2 {
  font-size: 100px; 
  align-self: center;
  font-family: 'Luckiest Guy', cursive;
  color: crimson;
  margin-top: 20px;
  margin-left: 10px;
  text-shadow: 0px 0px 15px black;

}

.backimage {
  position: absolute;
  width: 210px;
  height: 160px;
opacity: 0.4;
}