.table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 100px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
  }
  
  tr:nth-child(even){background-color: coral}
  tr:nth-child(odd){background-color: cyan}
  
  th {
    background-color: #dbdbdb;
    color: black;
  }


.container {
  background-color: red($color: #ff0000);
}

